@{
    ViewData["Title"] = "About";
}

<main>
    <div class="container">
        <div class="main-col">
            <h1>History</h1>
            <p>
                God spoke to the heart of Michael Starkey in early 2006 to plant a Spirit filled church in the Loranger/Robert area. He started Kingdom Life on July 9, 2006 through meeting in homes and then at a local business in Robert until the church outgrew those venues. Around mid-2008, a building became available and Kingdom Life relocated to its current location. Around 2009 God began to speak to Michael’s heart about current church leadership models. Around 2011 Richard Hamilton, Dewitt (D.J.) Coleman and their families joined Michael in this vision at Kingdom Life. Richard came onboard as the Worship Pastor and D.J. as the Youth Pastor. In 2013 God began to show Michael that his calling expanded beyond pastoring, and he resigned his position as Pastor in May of 2013. From May 2013 until October 2014, Richard and D.J. Co-Pastored Kingdom Life and continued the work that God had begun through Michael.
            </p>
            <p>
                In October 2014, through mutual agreement amongst the elders at Kingdom Life, D.J. Coleman stepped up as the Lead Pastor and Richard Hamilton stepped up as the Associate/Worship Pastor of Kingdom Life. D.J. and Richard have continued this work together as co-laborers of Christ. Their goal is to see Kingdom Life be a Beacon of Light, Hope and Truth in the Loranger and surrounding communities. They have a heart to see the Body of Christ and the local Church grow and flourish as we build the Kingdom of God together through Christ Jesus!
            </p>
        </div>
        <aside>
            <h2>Upcoming Events</h2>
            <hr>
            <p>
                <span>Stressed Out Series</span> – Kingdom Life is currently presenting a message each Sunday related to our new series titled Stressed Out! So, come join us for this Series that will focus on the Stress we all deal with in Life and what God’s Word has to say.
            </p>
            <p>
                <span>Adult Fellowship</span> – Our first Young Adult Fellowship of this school year will be on Sunday, September 16, 2018 from 12:30PM-2PM. This is open to all Young Adults between the ages of 18 and 26 who are no longer in High School. This is hosted by Mrs. Lavonne and Mr. Rick Samuels.  There will be a light lunch served. Come and bring a friend!
            </p>
        </aside>
    </div>
</main>