@{
    ViewData["Title"] = "Home Page";
}
<section id="showcase">
    <h2>Welcome</h2>
    <div>
        Current Series
    </div>
    <div class="live">
        Watch Live
    </div>
    <div>
        Plan a visit
    </div>
</section>
<main>
    <div class="container">
        <div class="main-col">
            <h1>Welcome</h1>
            <p>
                Thank you for visiting us here at Kingdom Life…  Our vision at KL is One KING, One KINGDOM, One LIFE at a time for ETERNITY. We are a welcoming body of believers in Christ that Love God and Love People! Our goal is to walk with one another through the victories and struggles of life each and every day until we are called home…
            </p>
            <p>
                Come visit with us…
            </p>
        </div>
        <aside>
            <h2>Upcoming Events</h2>
            <hr>
            <p>
                <span>Stressed Out Series</span> – Kingdom Life is currently presenting a message each Sunday related to our new series titled Stressed Out! So, come join us for this Series that will focus on the Stress we all deal with in Life and what God’s Word has to say.
            </p>
            <p>
                <span>Adult Fellowship</span> – Our first Young Adult Fellowship of this school year will be on Sunday, September 16, 2018 from 12:30PM-2PM. This is open to all Young Adults between the ages of 18 and 26 who are no longer in High School. This is hosted by Mrs. Lavonne and Mr. Rick Samuels.  There will be a light lunch served. Come and bring a friend!
            </p>
        </aside>
    </div>
</main>